Source: ibus-hangul
Section: utils
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: LI Daobing <lidaobing@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libhangul-dev, python-support,
 dpatch, swig, python-dev, pkg-config
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/ibus
Vcs-Bzr: lp:~lidaobing/+junk/ibus-hangul
Vcs-Browser: https://code.launchpad.net/~lidaobing/+junk/ibus-hangul

Package: ibus-hangul
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus
Description: hangul engine for IBus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 IBus-Hangul is an input method (IM) for Korea, based on IBus.
