Source: ibus-hangul
Section: utils
Priority: optional
Maintainer: LI Daobing <lidaobing@debian.org>
Build-Depends: debhelper (>= 7), autotools-dev, libhangul-dev (>= 0.0.9),
 python-support, swig, python-dev (>= 2.5), pkg-config, libibus-dev (>= 1.2)
Standards-Version: 3.8.2
Homepage: http://code.google.com/p/ibus
XS-Python-Version: >= 2.5
Vcs-Bzr: lp:~lidaobing/+junk/ibus-hangul
Vcs-Browser: https://code.launchpad.net/~lidaobing/+junk/ibus-hangul

Package: ibus-hangul
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, ibus (>= 1.2)
XB-Python-Version: ${python:Versions}
Description: Hangul engine for IBus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 IBus-Hangul is an input method (IM) for Korean language, based on IBus.
